{% extends "admin/base_site.html" %}
{% load avatars i18n staticfiles %}

{% block title %}
{%  blocktrans with extension.info.name as name %}Configure {{name}}{%  endblocktrans %}
{{block.super}}
{% endblock %}

{% block bodyclass %}{{block.super}} change-form{% endblock %}

{% block coltype %}colM clearfix{% endblock %}

{% block content %}
<header class="rb-c-content-header -is-main">
 <h1 class="rb-c-content-header__title">
{%  blocktrans with extension.info.name as name %}Configure {{name}}{%  endblocktrans %}
 </h1>
</header>
<div class="rb-c-page-content-box -is-content-flush"
	id="reviewbot-extension-config"></div>

<header class="rb-c-content-header -is-main">
 <h1 class="rb-c-content-header__title">{% trans "Broker Status" %}</h1>
 </h1>
</header>
<div class="rb-c-page-content-box" id="reviewbot-broker-status"></div>
{% endblock %}

{% block scripts-post %}
<script>
$(function() {
    var model = new ReviewBot.ExtensionConfig(
            {
{%  if reviewbot_user %}
            user: {
                    avatar_url: '{% avatar_url reviewbot_user 48 %}',
                    id: {{reviewbot_user.pk}},
                    fullname: '{{reviewbot_user.get_full_name|escapejs}}',
                    username: '{{reviewbot_user.username|escapejs}}'
                },
{%  endif %}
                brokerURL: '{{extension.settings.broker_url|escapejs}}'
            },
            {
                integrationConfigURL: '{% url "integration-list" %}',
                userConfigURL: '{% url "reviewbot-configure-user" %}',
                workerStatusURL: '{% url "reviewbot-worker-status" %}'
	    }
        ),
        view = new ReviewBot.ExtensionConfigView({
	    model: model,
            el: $('#reviewbot-extension-config')
	}),
	statusView = new ReviewBot.BrokerStatusView({
	    model: model,
	    el: $('#reviewbot-broker-status')
	});

    view.render();
    statusView.render();
});
</script>
{% endblock %}
