{% extends "admin/change_form.html" %}
{% load djblets_js i18n %}

{% block title %}
{%  blocktrans with extension.info.name as name %}Configure {{name}}{%  endblocktrans %}
{{block.super}}
{% endblock %}

{% block bodyclass %}{{block.super}} change-form{% endblock %}
{% block content %}{% endblock %}

{% block coltype %}colM clearfix{% endblock %}

{% block scripts-post %}
{{block.super}}

<script>
$(function() {
    var view = new ReviewBot.ExtensionConfigView({
            el: $('#content'),
            model: new ReviewBot.ExtensionConfig(
                {{extension_config_attrs|json_dumps}},
                {{extension_config_options|json_dumps}}
            )
        });

    view.render();
});
</script>
{% endblock %}
